body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    color: #243238;
    display: flex;
    height: 100vh;
    min-width: 250px;
}
.navbar,
.barnav{
    background-color: #0C254B;
    height: 98%;
    width: 200px;
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}
.navbar a,
.barnav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;
    background-color: #285393;
    color: #F41F00;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.navbar a:hover,
.barnav a:hover{
    background-color: #285393;
    color: #F41F00;
}
.navbar a.active,
.barnav a.active{
    background-color: #243238;
}
img{
    height: 140px;
    margin-top: 15px;
    margin-bottom: 50px;  
}
ul{
    padding: 0;
    margin: 0;
}
.option-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.option-list li{
    list-style-position: inside;
    list-style-type: none;
}
.log-out{
    margin-top: 90%;
}

.barnav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 89%;
    height: 90px;
    background-color: #0C254B;
    margin-left: 15px;
    
}
.barnav ul {
    display: flex;                    /* Hace que los elementos li se alineen horizontalmente */
    padding: 0;                      /* Elimina el padding por defecto */
    margin: 0;                       /* Elimina el margen por defecto */
    list-style: none;                /* Elimina los puntos de la lista */
}

.barnav li {
    margin: 0 100px;              /* Espacio entre los elementos */
}
.barnav img{
    width: 900px;
    height: 800px;
    margin: 50px 600px 50px 300px;
} 
